/* add flame first card*/

.stats-grid:nth-child(1)::before {

    content: "🔥";
    display: block;
    font-size: 30px;
   
}

.stats-grid:last-child {

    background-color: rgba(0, 0, 255, 0.384);
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

}

.stats-grid:last-child [class^="stat"] {

    color: white;
}


.stats-grid {
    transition: transform 1s ease;

}

.stats-grid:hover {

    transform: translateY(-5px);
    box-shadow: 0 10px 20px #481de2; 
}

.workout-plan .workout-plan:nth-of-type(2) {

    background-color: #fef8c0;
    border-left-color: 5px solid #f39c12;

}

.workout-plan:nth-of-type(2) {

    border-left: 3px solid #fbcc9d;
    background-color: lightyellow ;
}

.workout-plan:nth-of-type(3)
.workout-plan:first-of-type {

    border-left: 3px solid #21ca12;
    background-color: #dbf8d8;

}


.exercise-item:first-child,
.exercise-item:last-child {

    background: #f0fff4;
    border-left: 4px solid #2ecc71;
    padding-left: 10px;
}


.exercise-item:nth-child(2) .exercise-name::before,
.exercise-item:nth-child(4) .exercise-name::before {
    content: "⚡️" ;
}
 

section[class="goals-container"] input,
section[class="goals-container"] select {
    outline: none;
    transition: .35s;
}

section[class="goals-container"] input:focus,
section[class="goals-container"] select:focus {
    border: 1px solid blue;
    box-shadow: 0 2px 10px 0 blue;
}

.save-btn:hover {
    transform: translateY(-2px);
    background: linear-gradient(to right, rgb(57, 57, 161)blue);
}


.progress-bar {
    position: relative;
}

.progress-fill::after {
    content: "65%";
    font-size: 10px;
    color: white;
    position: absolute;
    top: -2px;
    right: 10px;
}